/* Reset default margin and padding */
body, h1, h2, form {
    margin: 0;
    padding: 0;
}

/* Center the container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take up the full viewport height */
}

/* Style the sign-in container */
.signin-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
