.main-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  width: 100%;

}
.input-container{
  padding: 2rem;
  border-radius: 30px;
  height: 20px;
  background-color: white;
  text-align: center;
}
