:root{
    --hightlightcolor:#ED2B2A;
}  
* , ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
a{
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}